<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <ul>
      <li>
        <a routerLink="/">My Posts
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li>
        <a mat-stroked-button routerLink="/create" color="accent" routerLinkActive="mat-accent">New Post</a>
      </li>
      <li>
        <a mat-stroked-button routerLink="/login"  color="accent" routerLinkActive="mat-accent">Login</a>
      </li>
      <li>
        <a mat-stroked-button routerLink="/signup"  color="accent" routerLinkActive="mat-accent">Signup</a>
      </li>
    </ul>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>