<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <div class="header">
      <a routerLink="/">
        <mat-icon>home</mat-icon>
        <span>My Posts</span>
      </a>

      <ul>
        <li *ngIf="isUserAuthenticated">
          <a mat-stroked-button routerLink="/create" color="accent" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!isUserAuthenticated">
          <a mat-stroked-button routerLink="/auth/login"  color="accent" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!isUserAuthenticated">
          <a mat-stroked-button routerLink="/auth/signup"  color="accent" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="isUserAuthenticated">
          <button mat-stroked-button color="accent" (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>

    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>