<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- Using a template-driven form here. This is diferent than a reactive form. -->
    <!-- Reactive forms are synchronous and use observables whereas  -->
    <!-- Template forms are asynchronous and use direct access to the data using directives -->
    <form (submit)="onSubmitClick(postForm)" [formGroup]="form" *ngIf="!isLoading">
        <mat-form-field>
            <mat-label>Post Title</mat-label>
            <input 
                matInput 
                type="text" 
                formControlName="title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a title</mat-error>
        </mat-form-field>  
        <mat-form-field>
            <mat-label>Post Content</mat-label>
            <textarea 
                matInput 
                rows="5" 
                formControlName="content">
            </textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter content</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" color="accent" (click)="filePicker.click()">
                Pick Image
            </button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <div class="edit-image-preview" *ngIf="post.imagePath && !imagePreview">
            <img [src]="post.imagePath" [alt]="form.value.title">
        </div>
        <button mat-raised-button 
            color="primary" 
            type="submit">Save Post
        </button>
    </form>
</mat-card>