<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- Using a template-driven form here. This is diferent than a reactive form. -->
    <!-- Reactive forms are synchronous and use observables whereas  -->
    <!-- Template forms are asynchronous and use direct access to the data using directives -->
    <form (submit)="onSubmitClick(postForm)" #postForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <mat-label>Post Title</mat-label>
            <input 
                matInput 
                #title="ngModel" 
                type="text" 
                name="enteredTitle" 
                [ngModel]="post?.title" 
                required>
            <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>  
        <mat-form-field>
            <mat-label>Post Content</mat-label>
            <textarea 
                matInput 
                #content="ngModel" 
                rows="5" 
                name="enteredContent" 
                [ngModel]="post?.content" 
                required>
            </textarea>
            <mat-error *ngIf="content.invalid">Please enter content</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" color="accent" (click)="filePicker.click()">
                Pick Image
            </button>
            <input type="file" #filePicker>
        </div>
        <button mat-raised-button 
            color="primary" 
            type="submit">Save Post
        </button>
    </form>
</mat-card>